<!DOCTYPE html>
    <html>
    <head>
        <title>FullMap</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="">
        <style type="text/css">
            #{{identifier}} {
                height:100%;
                width:70%;
                top:0;
                left:0;
                position:absolute;
                z-index:200;
            }

            #info {
                background-color: grey;
                height:100%;
                width:30%;
                top:0;
                left:70%;
                position:absolute;
                z-index:200;
                padding: 10px;
                font-family: Verdana;
                color: white;
            }
        </style>
    </head>
    <body>
        <div id="{{identifier}}" class="map"></div>

        <div id="info">
            <h1>Json IN</h1>
            <textarea id="data-in-ta"></textarea>
            <br>
            <input id="btn-render" type="button" value="Render">

            <h1>Json OUT</h1>
            <textarea id="data-out-ta"></textarea>
        </div>
        
        <script type="text/javascript">
            var fullmap = null;

            var gis_data = {
                polylines: [],
                circles: [],
            };

            function renderData(data) {
                return JSON.stringify(data, null, 2);
            }

            function initMap() {
                document.getElementById('{{identifier}}').style.display = 'block';
                {{varname}} = new google.maps.Map(
                document.getElementById('{{identifier}}'), {
                    center: new google.maps.LatLng(
                        {{lat}}, 
                        {{lng}}
                    ),
                    zoom: {{zoom}},
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    zoomControl: true,
                    mapTypeControl: true,
                    scaleControl: true,
                    streetViewControl: true,
                    rotateControl: true,
                    scrollwheel: true,
                    fullscreenControl: true
                });

                var drawingManager = new google.maps.drawing.DrawingManager({
                  drawingMode: google.maps.drawing.OverlayType.MARKER,
                  drawingControl: true,
                  drawingControlOptions: {
                    position: google.maps.ControlPosition.TOP_CENTER,
                    drawingModes: ['marker', 'circle', 'polygon', 'polyline', 'rectangle']
                  },
                  markerOptions: {icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'},
                  circleOptions: {
                    fillColor: '#ffff00',
                    fillOpacity: 1,
                    strokeWeight: 5,
                    clickable: false,
                    editable: true,
                    zIndex: 1
                  }
                });
                drawingManager.setMap({{varname}});

                google.maps.event.addListener(drawingManager, 'overlaycomplete', function(event) {
                    var info_textarea = document.getElementById('data-out-ta');

                    if (info_textarea === null) {
                        return;
                    }

                    if (event.type == 'circle') {
                        var radius = event.overlay.getRadius();
                        var center = event.overlay.getCenter();

                        gis_data.circles.push({
                            radius: radius,
                            center: center
                        })
                    } else if (event.type == 'polyline') {
                        var path = event.overlay.getPath();

                        var result = [];
                        path.forEach(function(element, index) {
                            result.push(element);
                        })

                        gis_data.polylines.push({
                            path: result
                        })
                    }

                    info_textarea.value = renderData(gis_data);
                });

                function onClick() {
                    document.getElementById("data-in-ta").innerHTML = "YOU CLICKED RENDER!";
                }
                
                document.getElementById("btn-render").addEventListener("click", onClick);

            }          
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7uRVSlRJRCICowKelW5zurV9PTs3HYGE&libraries=drawing&callback=initMap"
         async defer></script>

         

    </body>
</html>

