{% extends "layout.html" %}
{% block title %}Аварії{% endblock %}
{% block head %}
        {{ super() }}
        <style type="text/css">
            #{{identifier}} {
                width:100%;
                height:650px;
            }

            #form-test input[type=text], select {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }

            #form-test input[type=submit] {
                width: 100%;
                background-color: #4CAF50;
                /*background-color: #333;*/
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

            #form-test input[type=submit]:hover {
                background-color: #45a049;
                /*background-color: #ddd;*/
                /*color: black;*/
            }

            #form-test div {
                border-radius: 5px;
                background-color: #f2f2f2;
                padding: 20px;
            }

            #form-test button {
                width: 100%;
                background-color: #4CAF50;
                /*background-color: #333;*/
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

            #form-test button:hover {
                background-color: #45a049;
                /*background-color: #ddd;*/
                /*color: black;*/
            }
        </style>
{% endblock %}

{% block menu %}
<a href="/drawing">Редактор</a>
<a href="/reader">Відображення</a>
{% endblock %}

{% block content %}
        <div class="card">
            <div id="{{identifier}}" class="map"></div>
        </div>

            <script type="text/javascript">
                var fullmap = null;

                var gis_data = {
                    polylines: [],
                    circles: [],
                };

                var accident_data = {
                    circles: []
                }

                var last_circle = null;

                var drawingManager = null;

                function updateDrawindManager() {
                    drawingManager.setOptions({
                        polylineOptions: {
                            strokeColor: document.getElementById('polyline-strokeColor').value,
                            strokeOpacity: document.getElementById('polyline-strokeOpacity').value,
                            strokeWeight: document.getElementById('polyline-strokeWeight').value,
                        },
                    });
                }

                function getDefault(dict, key, default_value=null) {
                    if (dict.hasOwnProperty(key) === false) {
                        return default_value;
                    } else {
                        return dict[key];
                    }
                }

                function initMap() {
                    document.getElementById('{{identifier}}').style.display = 'block';

                    {{varname}} = new google.maps.Map(document.getElementById('{{identifier}}'), {
                        center: new google.maps.LatLng(
                            {{lat}}, 
                            {{lng}}
                        ),
                        zoom: {{zoom}},
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        zoomControl: true,
                        mapTypeControl: true,
                        scaleControl: true,
                        streetViewControl: true,
                        rotateControl: true,
                        scrollwheel: true,
                        fullscreenControl: true
                    });

                    {{varname}}.setOptions({
                        minZoom: {{minZoom}}
                    });

                    drawingManager = new google.maps.drawing.DrawingManager({
                        drawingMode: google.maps.drawing.OverlayType.MARKER,
                        drawingControl: true,
                        drawingControlOptions: {
                            position: google.maps.ControlPosition.TOP_CENTER,
                            drawingModes: ['polygon', 'circle']
                        },
                    });

                    drawingManager.setMap({{varname}});

                    {% if data %}

                    var info_textarea = document.getElementById('data-out-ta');
                    
                    var gis_data = {{data|tojson|safe}};

                    for (var i = 0; i < gis_data.polylines.length; i++) {
                        var polylineOptions = getDefault(gis_data.polylines[i], 'polylineOptions', {});

                        {{varname}}_polyline = new google.maps.Polyline({
                            strokeColor: getDefault(polylineOptions, "strokeColor", "#FF0000"),
                            strokeOpacity: getDefault(polylineOptions, "strokeOpacity", 1.0),
                            strokeWeight: getDefault(polylineOptions, "strokeWeight", 2),

                            path: gis_data.polylines[i].path,
                            map: {{varname}},
                            geodesic: true
                        });

                    }

                    {% endif %}


                    google.maps.event.addListener(drawingManager, 'overlaycomplete', function(event) {
                        var map_overlay = event.overlay;

                        // var info_textarea = document.getElementById('data-out-ta');

                        // if (info_textarea === null) {
                        //     return;
                        // }

                        if (event.type == 'circle') {
                            var radius = map_overlay.getRadius();
                            var center = map_overlay.getCenter();

                            accident_data.circles.push({
                                radius: radius,
                                center: center
                            });

                            var model_select = document.getElementById("model-select");
                            model_select.style.display = "block";

                            var c_s = document.getElementById("circle-square");
                            var s = radius * radius * Math.PI;

                            c_s.value = s;

                            last_circle = map_overlay;

                        } 

                        // info_textarea.value = renderData(gis_data);
                    });

                }          
            </script>

            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7uRVSlRJRCICowKelW5zurV9PTs3HYGE&libraries=drawing&callback=initMap"
             async defer></script>
{% endblock %}
{% block gui %}
                <div class="card">
                    <div id="form-test">
                        <form action="" method="post">
                            <label for="category">Категорія проводу</label>
                            <select id="category" name="category">
                                {% if category == None %}
                                <option disabled selected value> -- виберіть категорію -- </option>
                                {% else %}
                                <option disabled selected value> -- виберіть категорію -- </option>
                                {% endif %}

                                {% for c in categories %}
                                    {% if category == c %}
                                <option value="{{ c }}" selected>{{ categories[c] }}</option>
                                    {% else %}
                                <option value="{{ c }}">{{ categories[c] }}</option>
                                    {% endif %}
                                
                                {% endfor %}
                            </select>

                            <input type="submit" value="Submit">
                        </form>
                        
                    </div>
                </div>
<!-- 
                <script type=text/javascript>
                    $(document).ready(function() {
                        $('form').on('submit', function(event) {
                            $.ajax({
                                data : {
                                    test : $('#testInput').val(),
                                },
                                type : 'POST',
                                url : '/process'
                            })
                            .done(function(data) {
                                if (data.error) {
                                    $('#errorAlert').text(data.error).show();
                                    $('#successAlert').hide();
                                } else {
                                    $('#successAlert').text(data.result).show();
                                    $('#errorAlert').hide();
                                }
                            });

                            event.preventDefault();
                        });

                    });
                </script>

                <div class="card">
                    <div id="form-test">
                        <form action="" method="post">
                            <label for="test">the test</label>
                            <input type="text" id="testInput" placeholder="empty">

                            <input type="submit" value="go">
                        </form>
                    </div>
                </div>

                <div id="successAlert" class="card" style="display:none;"></div>
                <div id="errorAlert" class="card" style="display:none;"></div> -->

                <div id="model-select" class="card">
                    <div id="form-test">
                        <label for="model">Розрахункова модель</label>
                        <select id="model" name="model" onchange="myFunction()">
                            <option disabled selected value> -- виберіть модель -- </option>
                            <option value="model1">Модель 1</option>
                            <option value="model2">Колективний ризик</option>
                        </select>
                    </div>
                </div>

                <div id="model1-gui" class="card">
                    <div id="form-test">

                        <h4>Модель 1</h4>
                        <label for="circle-square">Площа (м. кв.)</label>
                        <input type="text" id="circle-square" name="circle-square" placeholder="0.0">

                        <label for="circle-square">Кількість постраждалих (одиниць)</label>
                        <input type="text" id="count" name="count" placeholder="1.0" value="1.0">

                        <button onclick="showCircleResult()">Розрахувати</button>

                    </div>
                </div>

                <div id="model2-gui" class="card">
                    <div id="form-test">
                        <form action="" method="post">
                            <!-- <h4>Колективний ризик</h4> -->
                            
                            <label for="m1_h">Частота аварій, H</label>
                            <input type="text" id="m1_h" name="h"placeholder="1.0">

                            <label for="m1_phi_min">Мінімальне можливе значення уражаючого фактора, Phi_min</label>
                            <input type="text" id="m1_phi_min" name="phi_min"placeholder="0.0">

                            <label for="m1_phi_max">Мінімальне можливе значення уражаючого фактора, Phi_max</label>
                            <input type="text" id="m1_phi_max" name="phi_max" placeholder="1.0">

                            <label for="m1_p_phi">Параметричний закон ураження людей, P(Phi)</label>
                            <select id="m1_p_phi" name="p_phi">
                                <option selected value="p_phi_1">Закон 1</option>
                                <option value="p_phi_2">Закон 2</option>
                            </select>

                            <label for="m1_f_x_y_phi">Щільність розподілу інтенсивності уражаючого фактора, f(x, y, Phi)</label>
                            <select id="m1_f_x_y_phi" name="f_x_y_phi">
                                <option selected value="f_x_y_phi_1">Щільність розподілу 1</option>
                                <option value="f_x_y_phi_2">Щільність розподілу 2</option>
                            </select>

                            <label for="m1_psi">Щільність населення, Psi(x, y)</label>
                            <select id="m1_psi" name="psi">
                                <option selected value="psi_1">Щільність населення 1</option>
                                <option value="psi_2">Щільність населення 2</option>
                            </select>

                            <input type="submit" value="Розрахувати">
                        </form>
                    </div>
                </div>


                <script>
                var guis = {
                    "model1": "model1-gui",
                    "model2": "model2-gui",
                }

                var model_select = document.getElementById("model-select");
                model_select.style.display = "none";

                for (var key in guis) {
                    var a_gui = document.getElementById(guis[key]);
                    a_gui.style.display = "none";
                }
                
                function myFunction() {
                    var a_key_selected = document.getElementById("model").value;

                    for (var key in guis) {
                        var a_gui = document.getElementById(guis[key]);
                        if (key == a_key_selected) {
                            a_gui.style.display = "block";
                        } else {
                            a_gui.style.display = "none";
                        }
                    }
                }

                function showCircleResult() {
                    var s = document.getElementById("circle-square").value;
                    var c = document.getElementById("count").value;

                    var result = parseFloat(s) * parseFloat(c);


                    var contentString = '<div id="content">'+
                        '<div id="siteNotice">'+
                        '</div>'+
                        '<h1 id="firstHeading" class="firstHeading">Результат</h1>'+
                        '<div id="bodyContent">'+
                        result +
                        '</div>'+
                        '</div>';

                    var infowindow = new google.maps.InfoWindow({
                      content: contentString
                    });

                    var marker = new google.maps.Marker({
                      position: last_circle.getCenter(),
                      map: {{varname}}
                    });

                    // circle = accident_data.circles[accident_data.circles.length - 1]

                    infowindow.open({{varname}}, marker);
                }
                </script>
{% endblock %}}


