{% extends "layout.html" %}
{% block title %}Аварії{% endblock %}
{% block head %}
        {{ super() }}
        <style type="text/css">
            #{{identifier}} {
                width:100%;
                height:650px;
            }
        </style>
{% endblock %}

{% block menu %}
            <a href="/drawing">Редактор</a>
            <a href="/reader">Відображення</a>
{% endblock %}

{% block content %}
            <div class="card">
                <div id="{{identifier}}" class="map"></div>
            </div>

            <script type="text/javascript">
                // service
                function gf_getDefault(dict, key, default_value=null) {
                    if (dict.hasOwnProperty(key) === false) {
                        return default_value;
                    } else {
                        return dict[key];
                    }
                }

                // map
                var {{varname}} = null;

                var gv_mapObjects = {
                    polylines: [],
                    circles: [],
                }

                function gf_resetMapObjects(mapObjects) {
                    // Polylines
                    for (var i = 0; i < mapObjects.polylines.length; i++) {
                        var polyline = mapObjects.polylines[i];
                        polyline.setMap(null);
                        delete mapObjects.polylines[i];
                    }

                    mapObjects.polylines = [];
                    // Other objects on demand
                    // ...
                }

                function gf_setMapObjectsFromData(mapObjects, mapData) {
                    // Polylines
                    for (var i = 0; i < mapData.polylines.length; i++) {
                        var polylineOptions = gf_getDefault(mapData.polylines[i], 'polylineOptions', {});

                        newPolyline = new google.maps.Polyline({
                            strokeColor: gf_getDefault(polylineOptions, "strokeColor", "#FF0000"),
                            strokeOpacity: gf_getDefault(polylineOptions, "strokeOpacity", 1.0),
                            strokeWeight: gf_getDefault(polylineOptions, "strokeWeight", 2),
                            map: {{varname}},
                            path: mapData.polylines[i].path,
                            geodesic: true
                        });

                        mapObjects.polylines.push(newPolyline);
                    }
                    // Other objects on demand
                    // ...
                }

                // dummy way to last circle handling
                // todo: refactor to universal logic
                var gv_lastCircle = null;

                var gv_drawingManager = null;

                function initMap() {
                    document.getElementById('{{identifier}}').style.display = 'block';

                    {{varname}} = new google.maps.Map(document.getElementById('{{identifier}}'), {
                        center: new google.maps.LatLng(
                            {{lat}}, 
                            {{lng}}
                        ),
                        zoom: {{zoom}},
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        zoomControl: true,
                        mapTypeControl: true,
                        scaleControl: true,
                        streetViewControl: true,
                        rotateControl: true,
                        scrollwheel: true,
                        fullscreenControl: true
                    });

                    {{varname}}.setOptions({
                        minZoom: {{minZoom}}
                    });

                    gv_drawingManager = new google.maps.drawing.DrawingManager({
                        drawingMode: google.maps.drawing.OverlayType.MARKER,
                        drawingControl: true,
                        drawingControlOptions: {
                            position: google.maps.ControlPosition.TOP_CENTER,
                            drawingModes: ['polygon', 'circle']
                        },
                    });

                    gv_drawingManager.setMap({{varname}});

                    google.maps.event.addListener(gv_drawingManager, 'overlaycomplete', function(event) {
                        var map_overlay = event.overlay;

                        if (event.type == 'circle') {
                            var radius = map_overlay.getRadius();
                            var center = map_overlay.getCenter();

                            var model_select = document.getElementById("model-select");
                            model_select.style.display = "block";

                            var c_s = document.getElementById("circle-square");
                            var s = radius * radius * Math.PI;

                            c_s.value = s;

                            gv_lastCircle = map_overlay;

                        } 

                        // info_textarea.value = renderData(gis_data);
                    });

                }       
            </script>

            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7uRVSlRJRCICowKelW5zurV9PTs3HYGE&libraries=drawing&callback=initMap"
             async defer></script>
{% endblock %}
{% block gui %}
                <script type=text/javascript>
                    // models
                    var gv_models = {}  // formID, guiID, getData

                    // service
                    function gf_showMessageAlert(msgType, msg, hideAll=true) {
                        if (hideAll === true) {
                           $('#errorAlert').hide();
                            $('#successAlert').hide();
                            $('#infoAlert').hide(); 
                        }

                        switch(msgType) {
                            case 'error':
                                $('#errorAlert').text(msg).show();
                                break;
                            case 'info':
                                $('#infoAlert').text(msg).show();
                                break;
                            case 'success':
                                $('#successAlert').text(msg).show();
                                break;
                        }
                    }

                    // submit handlers
                    $(document).ready(function() {
                        // categories
                        $('#form-category').on('submit', function(event) {
                            $.ajax({
                                data : {
                                    category : $('#category').val(),
                                },
                                type : 'POST',
                                url : '/process'
                            })
                            .done(function(data) {
                                if (data.error) {
                                    gf_showMessageAlert('error', data.error);
                                } else if (data.category) {

                                    gf_showMessageAlert('success', "Category '"+data.category.name+"' loaded");

                                    var mapData = data.category.data;

                                    gf_resetMapObjects(gv_mapObjects);
                                    gf_setMapObjectsFromData(gv_mapObjects, data.category.data);

                                    $('#model-select').css({ display: "block" });
                                }

                            });

                            event.preventDefault();
                        });

                        // models
                        function modelFormOnSubmitEventHandler(event) {
                                var selectedModelName = $('select#model option:checked').val();
                                var selectedModel = gv_models[selectedModelName];
                                var selectedModelData = selectedModel.getData()
                                var modelDataJSON = JSON.stringify(selectedModelData);

                                gf_showMessageAlert('info', JSON.stringify(selectedModelData, undefined, 1));  // debug
                                
                                $.ajax({
                                    data : {
                                        model : selectedModelName,
                                        data : modelDataJSON
                                    },
                                    type : 'POST',
                                    url : '/process'
                                })
                                .done(function(data) {
                                    if (data.error) {
                                        gf_showMessageAlert('error', data.error);
                                    } else if (data.result) {
                                        gf_showMessageAlert('success', data.result, false);
                                    }

                                });

                                event.preventDefault();
                            }

                        for (var modelName in gv_models) {
                            var model = gv_models[modelName];
                            $("#"+model.formID).on('submit', modelFormOnSubmitEventHandler);
                        }
                    });

                    function gf_switchModelGUI() {
                        var selectedModelName = document.getElementById("model").value;

                        for (var modelName in gv_models) {
                            var model = gv_models[modelName];
                            var modelGui = document.getElementById(model.guiID);
                            if (modelName === selectedModelName) {
                                modelGui.style.display = "block";
                            } else {
                                modelGui.style.display = "none";
                            }
                        }
                    }

                    function showCircleResult() {
                        var s = document.getElementById("circle-square").value;
                        var c = document.getElementById("count").value;

                        var result = parseFloat(s) * parseFloat(c);


                        var contentString = '<div id="content">'+
                            '<div id="siteNotice">'+
                            '</div>'+
                            '<h1 id="firstHeading" class="firstHeading">Результат</h1>'+
                            '<div id="bodyContent">'+
                            result +
                            '</div>'+
                            '</div>';

                        var infowindow = new google.maps.InfoWindow({
                          content: contentString
                        });

                        var marker = new google.maps.Marker({
                          position: gv_lastCircle.getCenter(),
                          map: {{varname}}
                        });

                        infowindow.open({{varname}}, marker);
                    }
                </script>

                <div class="card">
                    <div class="data-form">
                        <form id="form-category" action="" method="post">
                            <label for="category">Категорія проводу</label>
                            <select id="category" name="category">
                                {% if category == None %}
                                <option disabled selected value> -- виберіть категорію -- </option>
                                {% else %}
                                <option disabled selected value> -- виберіть категорію -- </option>
                                {% endif %}

                                {% for c in categories %}
                                    {% if category == c %}
                                <option value="{{ c }}" selected>{{ categories[c] }}</option>
                                    {% else %}
                                <option value="{{ c }}">{{ categories[c] }}</option>
                                    {% endif %}
                                
                                {% endfor %}
                            </select>

                            <input type="submit" value="Submit">
                        </form>
                        
                    </div>
                </div>

                <div id="successAlert" class="card success" style="display:none;"></div>
                <div id="errorAlert" class="card error" style="display:none;"></div>
                <div id="infoAlert" class="card info" style="display:none;"></div>

                <div id="model-select" class="card" style="display:none;">
                    <div class="data-form">
                        <label for="model">Розрахункова модель</label>
                        <select id="model" name="model" onchange="gf_switchModelGUI()">
                            <option disabled selected value> -- виберіть модель -- </option>
                            <option value="model1">Колективний ризик</option>
                            <!-- <option value="model2">Модель 1</option> -->
                        </select>
                    </div>
                </div>
                
                <!-- models -->                
                <div id="model1-gui" class="card" style="display:none;">
                    <div class="data-form">
                        <h4>Колективний ризик</h4>
                        <form id="form-model1" action="" method="post">
                            <label for="m1_h">Частота аварій, H</label>
                            <input type="text" id="m1_h" name="h"placeholder="1.0">

                            <label for="m1_phi_min">Мінімальне можливе значення уражаючого фактора, Phi_min</label>
                            <input type="text" id="m1_phi_min" name="phi_min"placeholder="0.0">

                            <label for="m1_phi_max">Мінімальне можливе значення уражаючого фактора, Phi_max</label>
                            <input type="text" id="m1_phi_max" name="phi_max" placeholder="1.0">

                            <label for="m1_p_phi">Параметричний закон ураження людей, P(Phi)</label>
                            <select id="m1_p_phi" name="p_phi">
                                <option selected value="p_phi_1">Закон 1</option>
                                <option value="p_phi_2">Закон 2</option>
                            </select>

                            <label for="m1_f_x_y_phi">Щільність розподілу інтенсивності уражаючого фактора, f(x, y, Phi)</label>
                            <select id="m1_f_x_y_phi" name="f_x_y_phi">
                                <option selected value="f_x_y_phi_1">Щільність розподілу 1</option>
                                <option value="f_x_y_phi_2">Щільність розподілу 2</option>
                            </select>

                            <label for="m1_psi">Щільність населення, Psi(x, y)</label>
                            <select id="m1_psi" name="psi">
                                <option selected value="psi_1">Щільність населення 1</option>
                                <option value="psi_2">Щільність населення 2</option>
                            </select>

                            <input type="submit" value="Розрахувати">
                        </form>
                    </div>
                </div>

                <script type="text/javascript">
                    gv_models["model1"] = {
                        "formID": "form-model1",
                        "guiID": "model1-gui",
                        "getData": function() {
                            var data = {
                                h: $("#m1_h").val(),
                                phi_min: $("#m1_phi_min").val(),
                                phi_max: $("#m1_phi_max").val(),
                                f_x_y_phi: $("#m1_f_x_y_phi option:checked").val(),
                                psi: $("#m1_psi  option:checked").val(),
                            };
                            return data;
                        }
                    }
                </script>

<!--                 <div id="model2-gui" class="card" style="display:none;">
                    <div class="data-form">
                        <form id="form-model2" action="" method="post">
                            <h4>Модель 2</h4>
                            <label for="circle-square">Площа (м. кв.)</label>
                            <input type="text" id="circle-square" name="circle-square" placeholder="0.0">

                            <label for="circle-square">Кількість постраждалих (одиниць)</label>
                            <input type="text" id="count" name="count" placeholder="1.0" value="1.0">

                            <input type="submit" value="Розрахувати">
                        </form>
                    </div>
                </div>

                <script type="text/javascript">
                    gv_models["model2"] = {
                        "formID": "form-model2",
                        "guiID": "model2-gui",
                        "getData": function() {return "No data";}
                    }
                </script> -->
{% endblock %}}


