<!DOCTYPE html>
    <html>
    <head>
        <title>FullMap</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="">
        <style type="text/css">
            #{{identifier}} {
                height:100%;
                width:100%;
                top:0;
                left:0;
                position:absolute;
                z-index:200;
            }
        </style>
    </head>
    <body>
        <div id="{{identifier}}" class="map"></div>
        
        <script type="text/javascript">
            var fullmap = null;

            var gis_data = {
                polylines: [],
                circles: [],
            };

            function getDefault(dict, key, default_value=null) {
                if (dict.hasOwnProperty(key) === false) {
                    return default_value;
                } else {
                    return dict[key];
                }
            }

            function initMap() {
                document.getElementById('{{identifier}}').style.display = 'block';
                var {{varname}} = new google.maps.Map(
                    document.getElementById('{{identifier}}'), {
                    center: new google.maps.LatLng(
                        {{lat}}, 
                        {{lng}}
                    ),
                    zoom: {{zoom}},
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    zoomControl: true,
                    mapTypeControl: true,
                    scaleControl: true,
                    streetViewControl: true,
                    rotateControl: true,
                    scrollwheel: true,
                    fullscreenControl: true
                }); 

                var gis_data = {{data|tojson|safe}};

                for (var i = 0; i < gis_data.polylines.length; i++) {
                    var polylineOptions = getDefault(gis_data.polylines[i], 'polylineOptions', {});

                    {{varname}}_polyline = new google.maps.Polyline({
                        strokeColor: getDefault(polylineOptions, "strokeColor", "#FF0000"),
                        strokeOpacity: getDefault(polylineOptions, "strokeOpacity", 1.0),
                        strokeWeight: getDefault(polylineOptions, "strokeWeight", 2),

                        path: gis_data.polylines[i].path,
                        map: {{varname}},
                        geodesic: true
                    });

                }
  
            }          
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7uRVSlRJRCICowKelW5zurV9PTs3HYGE&libraries=drawing&callback=initMap"
         async defer></script>
    </body>
</html>

